<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Habilidades</title>
</head>
<body>

<h2>Mis habilidades</h2>

<form th:action="@{/candidato/habilidades}" method="post">

    <div th:each="c : ${caracteristicas}">
        <label>
            <input type="checkbox" name="caracteristicaIds" th:value="${c.id}">
            <span th:text="${c.name}"></span>
        </label>

        Nivel:
        <input type="number" name="niveles" min="1" max="5">
        <br>
    </div>

    <button type="submit">Guardar</button>

</form>

</body>
</html>