<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplicaciones</title>
</head>
<body>

<h2 th:text="'Aplicaciones para: ' + ${puesto.description}"></h2>

<table border="1">
    <tr>
        <th>Candidato</th>
        <th>Email</th>
        <th>Estado</th>
        <th>Acción</th>
        <th>CV</th>
        <th>Ver detalle</th>
    </tr>

    <tr th:each="app : ${aplicaciones}">
        <td th:text="${app.candidato.firstName} + ' ' + ${app.candidato.lastName}"></td>
        <td th:text="${app.candidato.email}"></td>
        <td th:text="${app.estado}"></td>

        <td>
            <a th:href="@{'/empresa/aplicacion/' + ${app.id} + '/aceptar'}">Aceptar</a>
            <a th:href="@{'/empresa/aplicacion/' + ${app.id} + '/rechazar'}">Rechazar</a>
        </td>
        <td>
            <a th:if="${app.candidato.cvPath != null and !#strings.isEmpty(app.candidato.cvPath)}"
               th:href="@{'/uploads/' + ${app.candidato.cvPath}}"
               target="_blank">
                Ver CV
            </a>

            <span th:unless="${app.candidato.cvPath != null and !#strings.isEmpty(app.candidato.cvPath)}">
        Sin CV
    </span>
        </td>
        <td>
            <a th:href="@{'/empresa/candidato/' + ${app.candidato.id}}">
                Ver detalle
            </a>
        </td>
    </tr>
    </tr>
</table>

<h3>Buscar candidato</h3>

<form method="get"
      th:action="@{'/empresa/puesto/' + ${puesto.id} + '/aplicaciones'}">

    <input type="text" name="keyword" placeholder="Nombre...">

    <button type="submit">Buscar</button>

</form>

</body>
</html>