<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Dashboard Empresa</title>
</head>

<body>
  <h2 th:text="'Bienvenido ' + ${empresa.name}"></h2>

  <h3>Mis puestos</h3>

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Descripción</th>
      <th>Salario</th>
      <th>Tipo</th>
    </tr>

    <tr th:each="p : ${puestos}">
      <td th:text="${p.id}"></td>
      <td th:text="${p.description}"></td>
      <td th:text="${p.salary}"></td>
      <td th:text="${p.type}"></td>
      <td>
        <a th:href="@{'/empresa/puesto/' + ${p.id} + '/candidatos'}">
          Ver candidatos
        </a>
      </td>
    </tr>
  </table>
  <a href="/empresa/puesto/nuevo">Crear Puesto</a>
</body>

</html>